name: Build and Publish Docker Image

on:
  workflow_dispatch:

jobs:
  generate-meta:
    runs-on: ubuntu-22.04
    outputs:
      tag: ${{ steps.meta.outputs.tag }}
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Generate Tag
        id: meta
        run: |
          DATE=$(date +'%Y%m%d')
          COMMIT=$(git rev-parse --short=6 HEAD)
          echo "tag=${DATE}-${COMMIT}" >> $GITHUB_OUTPUT

  build-arm64:
    needs: generate-meta
    runs-on: ubuntu-22.04-arm
    strategy:
      matrix:
        include:
          - cuda_version: 12.6
            lite: true
            torch_base: lite
            tag_prefix: cu126-lite
          - cuda_version: 12.6
            lite: false
            torch_base: full
            tag_prefix: cu126
          - cuda_version: 12.8
            lite: true
            torch_base: lite
            tag_prefix: cu128-lite
          - cuda_version: 12.8
            lite: false
            torch_base: full
            tag_prefix: cu128

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Free up disk space
        run: |
          echo "Before cleanup:"
          df -h  

          sudo rm -rf /opt/ghc
          sudo rm -rf /opt/hostedtoolcache/CodeQL
          sudo rm -rf /opt/hostedtoolcache/PyPy
          sudo rm -rf /opt/hostedtoolcache/go
          sudo rm -rf /opt/hostedtoolcache/node
          sudo rm -rf /opt/hostedtoolcache/Ruby
          sudo rm -rf /opt/microsoft
          sudo rm -rf /opt/pipx
          sudo rm -rf /opt/az
          sudo rm -rf /opt/google


          sudo rm -rf /usr/lib/jvm
          sudo rm -rf /usr/lib/google-cloud-sdk
          sudo rm -rf /usr/lib/dotnet

          sudo rm -rf /usr/local/lib/android
          sudo rm -rf /usr/local/.ghcup
          sudo rm -rf /usr/local/julia1.11.5
          sudo rm -rf /usr/local/share/powershell
          sudo rm -rf /usr/local/share/chromium

          sudo rm -rf /usr/share/swift
          sudo rm -rf /usr/share/miniconda
          sudo rm -rf /usr/share/az_12.1.0
          sudo rm -rf /usr/share/dotnet

          echo "After cleanup:"
          df -h

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and Push Docker Image (arm64)
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./Dockerfile
          push: true
          platforms: linux/arm64
          build-args: |
            LITE=${{ matrix.lite }}
            TORCH_BASE=${{ matrix.torch_base }}
            CUDA_VERSION=${{ matrix.cuda_version }}
            WORKFLOW=true
          tags: |
            sky1218/gpt-sovits:${{ matrix.tag_prefix }}-${{ needs.generate-meta.outputs.tag }}
            sky1218/gpt-sovits:latest-${{ matrix.tag_prefix }}

  create-default:
    runs-on: ubuntu-latest
    needs:
      - build-arm64
    steps:
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Create Default Tag
        run: |
          docker buildx imagetools create \
            --tag sky1218/gpt-sovits:latest \
            sky1218/gpt-sovits:latest-cu126-lite
